.postPageContainer,
.commentForm,
.contactForm,
.comments {
  margin: 10px auto;
  max-width: 1100px;
  width:100%;
  @media(max-width:1400px){
    max-width:1100px;
    min-width:250px;
  }
}
.input {
  position:relative;
}
.input label {
  position:absolute;
  
  transition:.3s all;
  font-size:16px;
  color:#666;
}

.textInput + label {
  top:0;
  bottom:0;
  left:0;
  display:flex;
  align-items:center;
  border-radius:5px 0px 0px 5px;
  padding:0px 5px;
}

.textArea + label {
  top:20px;
  left:0;
  height:30px;
  display:flex;
  align-items:center;
  border-radius:5px 0px 0px 0px;
  padding:0px 5px;
}
.commentFrom {
  height:400px;
}
.commentForm, .contactForm {
  position:relative;
  z-index:10;
  background:white;
  padding:20px;
  box-sizing:border-box;
  
  font-size:15px;
  overflow:hidden;
  font-family: sans-serif;
  box-shadow:4px 4px 4px rgba(0,0,0,.2);
  .textArea {
    margin-top:20px;
    text-indent:90px;
    line-height:25px;
    width:100%;
    height:265px;
    font-size:15px;
    border-radius:5px;
    box-shadow:inset 1px 1px 1px rgba(0,0,0,.5);
    padding:5px;
    background:rgb(250,250,250);
    box-sizing:border-box;
    border:1px solid #bbb;
    resize:none;
    font-family: sans-serif;
    
  }
  .textInput {
    text-indent:60px;
    width:100%;
    line-height:30px;
    border-radius:5px;
    border:none;
    font-size:18px;
    border:1px solid #bbb;
    background:rgb(250,250,250);
    box-shadow:inset 1px 1px 1px rgba(0,0,0,.5);
  }
}
.textInput:focus, .textArea:focus {
  outline:none;
  & + label {
    background:#5F4755;
    color:white;
    transition:.3s all;
    box-shadow:2px 2px 4px rgba(0,0,0,.2);
  }
}

.comment {
  width:100%;
  background:white;
  border:1px solid black;
  padding:10px;
  margin:5px;
  .commentName {
    font-size:18px;
    font-weight:bold;
    font-family:sans-serif;
  }
  date {
    font-style:italic;
    font-size:14px;
  }
}

.comments {
  position:relative;
  z-index:10;
  padding:20px;
  box-sizing:border-box;
  display:flex;
  flex-flow:column wrap;
  align-items:center;
}
.postHeader {
  text-align:center;
  img {
    width:100%;
    max-width:500px;
  }
}

.video {
  width:100%;
  height:500px;
  display:flex;
  justify-content:center;
}

code {
  font-size:15px;
  font-family:"UbuntuMono",serif;
}
