.post {
	position:relative;
	box-sizing: border-box;
	background-color: #FFFAFF;
	flex: 1 0 50%;
	max-width: 800px;
	width: 50%;
	min-width: 300px;
	min-height:400px;
	margin: 10px;
	padding: 10px;
	border-radius:4px;
	box-shadow:5px 5px 6px rgba(0,0,0,.2), inset 0px 0px 20px rgba(0,0,0,.2);
	border: 1px solid lighten(#212A34,10%);
	border-top: 5px solid #212A34;
}

.post p {
	text-indent: 10px;
	font-family: sans-serif, "Ariel";
	font-size:18px;
	font-weight:500;
	line-height:30px;
	margin: 40px 0px;
}

.mainImage {
	float:top;
	img {
		width:150px;
	}
}
