.tag {
	background:red;
	margin:2px;
	padding:5px;
	font-size:10px;
	text-shadow:1px 1px black;
	font-weight:800;
	color:white;
	position:relative;
	z-index:10;
	font-family:sans-serif;
  text-decoration: none;
  transition:.3s background;
	&:hover {
		transition:.3s background;
		background:darken(red,10%);
		cursor:pointer;
	}
}

.tags {
	display:flex;
	flex-flow:row wrap;
	margin-bottom:10px;
}

.tagsAbsolute {
  position:absolute;
  bottom:15px;
  padding:5px;
  right:10px;
  display:flex;
  justify-content:space-between;
}
