@import "_posts.scss";
@import "_post.scss";
@import "_dark.scss";
@import "_tags.scss";
@font-face{font-family: "Igra"; src: url('../fonts/IgraSans.woff') format('woff')};
@font-face{font-family: "ButlerBold";
	src: url('../fonts/Butler.ttf') format('truetype'),
	url('../fonts/Butler.woff') format('woff');
};
html,
body {
	margin: 0;
	padding: 0;
}
html {
	background: rgba(255,255,255,.7) url('../img/background.png') repeat;
	background-attachment:fixed;
	&:before {
		content: '';
		position:fixed;
		top:0;
		right:0;
		left:0;
		bottom:0;
		background-image: linear-gradient(rgba(255,255,255,.9), white);
		background-attachment:fixed;
		z-index:0;
	}
}

.navbar {
  background-color: #212A34;
	border-bottom:5px solid #49B293;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
	padding: 10px;
	font-family: "Igra";
	font-weight:bold;
	letter-spacing:2px;
	padding:0px;
	line-height:40px;
	position:relative;
	z-index:2;
}

h1 {
	font-family: "Igra";
	text-shadow:2px 2px white;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

h2 {
	font-family: "ButlerBold";
	text-shadow:2px 2px white;
}

.navLink {
	flex:1;
	color: white;
	height:100%;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	transition: .2s background;
	&:hover {
		background:lighten(#212A34,10%);
		transition: .2s background;
	}
}

.baseBtn {
	font-family: sans-serif, "Ariel";
	padding:5px;
	font-size:12px;
	background:#3B2C35;
	color:white;
	text-decoration:none;
	border-radius:2px;
	box-shadow:inset 3px 3px rgba(255,255,255,.2),inset -3px -3px rgba(0,0,0,.2);
}

.absoluteBtn {
	position:absolute;
	bottom:20px;
}

.contact_container,
.home_container,
.posts_container,
.about_container,
.tags_container,
.tag_container,
.container_404 {
	align-items: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 100%;
	position:relative;
	z-index:2;
}

.pageHeader, .header {
	min-width:100%;
	text-align:center;
}

.home_container {
	@media(max-width: 1200px) {
		flex-flow: row wrap;
		align-items:flex-start;
	}
}

.posts_container, .home_container{
	flex-flow: row wrap;
	align-items:flex-start;
}
.popularTags {
	position:relative;
	min-width:300px;
	max-width:300px;
	padding-bottom:100px;
	.tags {
		padding-top:10px;
	}
}

.latestPosts {
	height:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
